# Ignore vendor files.
vendor

# Ignore builds generated during test cycles.
/build

# Ignore local properties
build.test.properties.local

# Ignore the dirs with documentation that is generated during the build proces.
/docs/generated
!/docs/generated/.gitkeep

/docs/artifact
!/docs/artifact/.gitkeep
